{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
<title>Профайл пользователя {{ page_obj.0.author }}</title>
{% endblock %}
{% block header %}
-
{% endblock header %}
{% block content %}
<main>
    <div class="container py-5">        
      <h1>Все посты пользователя {{ page_obj.0.author }} </h1>
      <div class="mb-5">
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' page_obj.0.author %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' page_obj.0.author %}" role="button"
            >
              Подписаться
            </a>
         {% endif %}
      </div>
      <h3>Всего постов: {{ posts_count }} </h3>   
      <article>
        <ul>
          <li>
            Автор: {{ page_obj.0.author }}
          </li>
          <li>
            Дата публикации: {{ page_obj.0.pud_date }} 
          </li>
        </ul>
        <p>
          {% for post in page_obj %}
            {% thumbnail post.image "100x50" crop="center" upscale=True as im %}
              <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          <h6> {{ post.text }} </h6> 
        </p>
        <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
      </article>
      <hr>
      {% endfor %}       
      <hr>
      <!-- Остальные посты. после последнего нет черты -->
      <!-- Здесь подключён паджинатор -->  
    </div>
  </main>
{% endblock %}
